In [1]:
import sys
import os
sys.path.append('C:/Users/ehsan/smartBDEhsan/Lib/site-packages')

In [2]:
from sqlalchemy import create_engine, Column, Integer, Float, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

In [4]:


Base = declarative_base()

class Sales(Base):
    __tablename__ = 'sales'
    sale_id = Column(Integer, primary_key=True)
    product_id = Column(Integer, ForeignKey('products.product_id'))
    customer_id = Column(Integer, ForeignKey('customers.customer_id'))
    sale_amount = Column(Float)
    sale_date = Column(Date)
    sale_year = Column(Integer)
    sale_month = Column(Integer)
    sale_day = Column(Integer)
    
    product = relationship('Products', back_populates='sales')
    customer = relationship('Customers', back_populates='sales')

class Products(Base):
    __tablename__ = 'products'
    product_id = Column(Integer, primary_key=True)
    product_name = Column(String)
    category = Column(String)
    
    sales = relationship('Sales', back_populates='product')

class Customers(Base):
    __tablename__ = 'customers'
    customer_id = Column(Integer, primary_key=True)
    customer_name = Column(String)
    region = Column(String)
    
    sales = relationship('Sales', back_populates='customer')

# Create an engine and bind it to the Base metadata
engine = create_engine('postgresql://postgres:12345@localhost:5432/postgres4')
Base.metadata.create_all(engine)

# Create a configured "Session" class
Session = sessionmaker(bind=engine)

# Create a Session
session = Session()

# Use the session to add and commit objects to the database

C:\Users\ehsan\AppData\Local\Temp\ipykernel_19692\552868880.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [5]:
import pandas as pd
from sqlalchemy.orm import sessionmaker
from datetime import datetime
import numpy as np

# Assuming `engine` is already created

# Create a configured "Session" class
Session = sessionmaker(bind=engine)

# Create a Session
session = Session()

# Generate dummy data
np.random.seed(42)
num_records = 1000

products_data = {
    'product_id': range(1, num_records + 1),
    'product_name': [f'Product {i}' for i in range(1, num_records + 1)],
    'category': [f'Category {i % 5}' for i in range(1, num_records + 1)]
}

customers_data = {
    'customer_id': range(1, num_records + 1),
    'customer_name': [f'Customer {i}' for i in range(1, num_records + 1)],
    'region': [f'Region {i % 10}' for i in range(1, num_records + 1)]
}

sales_data = {
    'sale_id': range(1, num_records + 1),
    'product_id': np.random.randint(1, num_records + 1, num_records),
    'customer_id': np.random.randint(1, num_records + 1, num_records),
    'sale_amount': np.random.rand(num_records) * 1000,
    'sale_date': [datetime(2023, np.random.randint(1, 13), np.random.randint(1, 29)) for _ in range(num_records)],
    'sale_year': [2023] * num_records,
    'sale_month': [np.random.randint(1, 13) for _ in range(num_records)],
    'sale_day': [np.random.randint(1, 29) for _ in range(num_records)]
}

products_df = pd.DataFrame(products_data)
customers_df = pd.DataFrame(customers_data)
sales_df = pd.DataFrame(sales_data)

In [6]:
products_df

     product_id  product_name    category
0             1     Product 1  Category 1
1             2     Product 2  Category 2
2             3     Product 3  Category 3
3             4     Product 4  Category 4
4             5     Product 5  Category 0
..          ...           ...         ...
995         996   Product 996  Category 1
996         997   Product 997  Category 2
997         998   Product 998  Category 3
998         999   Product 999  Category 4
999        1000  Product 1000  Category 0

[1000 rows x 3 columns]

In [7]:
customers_df

     customer_id  customer_name    region
0              1     Customer 1  Region 1
1              2     Customer 2  Region 2
2              3     Customer 3  Region 3
3              4     Customer 4  Region 4
4              5     Customer 5  Region 5
..           ...            ...       ...
995          996   Customer 996  Region 6
996          997   Customer 997  Region 7
997          998   Customer 998  Region 8
998          999   Customer 999  Region 9
999         1000  Customer 1000  Region 0

[1000 rows x 3 columns]

In [8]:
sales_df

,sale_id,product_id,customer_id,sale_amount,sale_date,sale_year,sale_month,sale_day
0,1,103,877,862.042651,2023-09-05,2023,8,25
1,2,436,5,844.549399,2023-10-21,2023,11,28
2,3,861,119,319.100473,2023-02-05,2023,9,2
3,4,271,801,828.915474,2023-03-23,2023,1,13
4,5,107,374,37.007635,2023-10-05,2023,1,24
...,...,...,...,...,...,...,...,...
995,996,10,827,560.168183,2023-12-11,2023,10,21
996,997,824,727,936.822462,2023-07-23,2023,3,26
997,998,798,477,52.257879,2023-06-19,2023,5,8
998,999,242,594,418.793319,2023-06-15,2023,4,16
999,1000,251,223,260.157791,2023-12-24,2023,7,13

In [10]:
# Batch process function
def batch_process(dataframe, batch_size):
    for start in range(0, len(dataframe), batch_size):
        end = min(start + batch_size, len(dataframe))
        yield dataframe.iloc[start:end]

# Batch size
batch_size = 100

# Batch process products data
for batch in batch_process(products_df, batch_size):
    session.bulk_insert_mappings(Products, batch.to_dict(orient='records'))
    session.commit()

# Batch process customers data
for batch in batch_process(customers_df, batch_size):
    session.bulk_insert_mappings(Customers, batch.to_dict(orient='records'))
    session.commit()

# Batch process sales data
for batch in batch_process(sales_df, batch_size):
    session.bulk_insert_mappings(Sales, batch.to_dict(orient='records'))
    session.commit()

# Close the session
session.close()

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "products_pkey"
DETAIL:  Key (product_id)=(1) already exists.

[SQL: INSERT INTO products (product_id, product_name, category) VALUES (%(product_id__0)s, %(product_name__0)s, %(category__0)s), (%(product_id__1)s, %(product_name__1)s, %(category__1)s), (%(product_id__2)s, %(product_name__2)s, %(category__2)s), (%(produ ... 5883 characters truncated ... (product_name__98)s, %(category__98)s), (%(product_id__99)s, %(product_name__99)s, %(category__99)s)]
[parameters: {'product_name__0': 'Product 1', 'category__0': 'Category 1', 'product_id__0': 1, 'product_name__1': 'Product 2', 'category__1': 'Category 2', 'product_id__1': 2, 'product_name__2': 'Product 3', 'category__2': 'Category 3', 'product_id__2': 3, 'product_name__3': 'Product 4', 'category__3': 'Category 4', 'product_id__3': 4, 'product_name__4': 'Product 5', 'category__4': 'Category 0', 'product_id__4': 5, 'product_name__5': 'Product 6', 'category__5': 'Category 1', 'product_id__5': 6, 'product_name__6': 'Product 7', 'category__6': 'Category 2', 'product_id__6': 7, 'product_name__7': 'Product 8', 'category__7': 'Category 3', 'product_id__7': 8, 'product_name__8': 'Product 9', 'category__8': 'Category 4', 'product_id__8': 9, 'product_name__9': 'Product 10', 'category__9': 'Category 0', 'product_id__9': 10, 'product_name__10': 'Product 11', 'category__10': 'Category 1', 'product_id__10': 11, 'product_name__11': 'Product 12', 'category__11': 'Category 2', 'product_id__11': 12, 'product_name__12': 'Product 13', 'category__12': 'Category 3', 'product_id__12': 13, 'product_name__13': 'Product 14', 'category__13': 'Category 4', 'product_id__13': 14, 'product_name__14': 'Product 15', 'category__14': 'Category 0', 'product_id__14': 15, 'product_name__15': 'Product 16', 'category__15': 'Category 1', 'product_id__15': 16, 'product_name__16': 'Product 17', 'category__16': 'Category 2' ... 200 parameters truncated ... 'category__83': 'Category 4', 'product_id__83': 84, 'product_name__84': 'Product 85', 'category__84': 'Category 0', 'product_id__84': 85, 'product_name__85': 'Product 86', 'category__85': 'Category 1', 'product_id__85': 86, 'product_name__86': 'Product 87', 'category__86': 'Category 2', 'product_id__86': 87, 'product_name__87': 'Product 88', 'category__87': 'Category 3', 'product_id__87': 88, 'product_name__88': 'Product 89', 'category__88': 'Category 4', 'product_id__88': 89, 'product_name__89': 'Product 90', 'category__89': 'Category 0', 'product_id__89': 90, 'product_name__90': 'Product 91', 'category__90': 'Category 1', 'product_id__90': 91, 'product_name__91': 'Product 92', 'category__91': 'Category 2', 'product_id__91': 92, 'product_name__92': 'Product 93', 'category__92': 'Category 3', 'product_id__92': 93, 'product_name__93': 'Product 94', 'category__93': 'Category 4', 'product_id__93': 94, 'product_name__94': 'Product 95', 'category__94': 'Category 0', 'product_id__94': 95, 'product_name__95': 'Product 96', 'category__95': 'Category 1', 'product_id__95': 96, 'product_name__96': 'Product 97', 'category__96': 'Category 2', 'product_id__96': 97, 'product_name__97': 'Product 98', 'category__97': 'Category 3', 'product_id__97': 98, 'product_name__98': 'Product 99', 'category__98': 'Category 4', 'product_id__98': 99, 'product_name__99': 'Product 100', 'category__99': 'Category 0', 'product_id__99': 100}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)